

.logoweb { 
   position:relative;left:24px;
   top:51px;
   z-index:1;
}
.logochannel { 
    position:relative;left:644px;
    top:118px;
    width: 40px; 
    height: 40px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #4d4d4d;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    z-index:2;
}

.logoserie { 
   position:relative;left:644px;
   top:118px;
   width: 40px; 
   height: 40px;
   border-radius: 5px;
   border-bottom: 1px solid #ccc;
   border-top: 1px solid #4d4d4d;
   border-left: 1px solid #808080;
   border-right: 1px solid #808080;
   object-fit: cover;
   z-index:2;
}
.flagcountry {
   position:absolute;
   left:843px;
   width: 18px;
   height: 16px;
   top: 170px;
   z-index:2;
}

p { position:absolute;
   left:700px;
   top:107px;
   width:156px;
   height:33px;
   font-size:12px;
   z-index:25;
}
p2 { 
   position:absolute;
   left:700px;
   top:195px;
   width:160px;
   height:16px;
   font-size:12px;
   line-height: 1.1;
   z-index:2;
}
.status_live {
   position:absolute;
   color:#FF1418;
   left:650px;
   top:170px;
   width:28px;
   height:16px;
   font-size:12px;
   font-style: italic;
   text-align:center;
   z-index:2;
}
.status_vod {
   position:absolute;
   color:#14af00;
   left:650px;
   top:170px;
   width:28px;
   height:16px;
   font-size:12px;
   text-align:center;
   z-index:2;
}

#viendo_ahora {
   position:absolute;
   top:195px;
   left:638px;
   width:160px;
   height:16px;
   font-size:10px;
   color:#fffb10;
   text-align:left;
   z-index:2;
}

